/* wrapper */
#wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffcc66; }

.layout1 {
  margin: 0 auto;
  position: relative;
  width: 922px;
  background: #ff9933; }

.layout2 {
  margin: 0 auto;
  position: relative;
  width: 912px;
  background: #ffffff; }

.layout3 {
  margin: 0 auto;
  position: relative;
  width: 894px; }

main {
  display: block;
  width: 100%;
  position: relative; }

#content {
  position: relative; }

#sidebar {
  position: relative; }

aside {
  position: relative; }
