footer {
	width:100%;
	height: 224px;
	display: inline-block;
	position:relative;
	overflow: hidden;
	.footer_images{
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 305px;
		.kuvshin{
			display: inline-block;
			overflow: hidden;
			position: relative;
			width: 50%;
			float: left;
			margin: 0 auto auto 0;
			img{
				display: block;
				overflow: hidden;
				position: relative;
			}
		}
		.pasta{
			display: inline-block;
			overflow: hidden;
			position: relative;
			width: 50%;
			height: 224px;
			float: right;
			z-index: 2;
			.makaroni_1{
				display: inline-block;
				overflow: hidden;
				position: relative;
				float: right;
				margin-right: 268px;
				z-index: 1;
				img{
					display: block;
					overflow: hidden;
					position: relative;
				}
			}
			.makaroni_02{
				display: inline-block;
				overflow: hidden;
				position: absolute;
				float: right;
				bottom: 0;
				right: -34px;
				top: 44px;
				z-index: 2;
				img{
					display: block;
					overflow: hidden;
					position: relative;
				}
			}
		}
	}
	.futer{
		display: block;
		overflow: hidden;
		position: relative;
		margin-top: -126px;
		z-index: 3;
		img{
			display: block;
			overflow: hidden;
			position: relative;
		}
	}
	.podlogka-futer{
		display: block;
		overflow: hidden;
		position: absolute;
		float: right;
		width: 269px;
		height: 54px;
		background-image: url(../images/podlogka-futer.png);
		margin: -54px auto 0 232px;
		z-index: 1;
		span{
			display: inline-block;
			overflow: hidden;
			position: relative;
			margin: 20px auto auto 50px;
			color: #ffffff;
			font-family: Tahoma;
			font-size: 13px;
			font-weight: 400;
			text-decoration: none;
			margin-left: 102px;
			margin-top: 18px;
		}
		a{
			display: inline-block;
			overflow: hidden;
			position: relative;
			color: #ffffff;
			cursor: pointer;
			font-family: Tahoma;
			font-size: 13px;
			font-weight: 400;
			text-decoration: underline;
		}
	}
}
